<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todosapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Application.TodoApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/appName"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodosApp"
        tools:ignore="AllowBackup">

        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.OnBoardingActivity" />
        <activity android:name=".Activities.AuthActivity" />
        <activity android:name=".Activities.LoadingDataActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.TagManageActivity" />
        <activity android:name=".Activities.Task.AddTaskActivity" />
        <activity android:name=".Activities.Task.UpdateTaskActivity" />
        <activity android:name=".Activities.Task.CompletedTaskActivity" />

    </application>

</manifest>